[submodule "pybind11"]
	path = ext/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = master

[submodule "rapidjson"]
	path = ext/rapidjson
	url = https://github.com/Tencent/rapidjson.git
	branch = master

[submodule "assembly_instances"]
	path = src/bindings/pyconmech/test/assembly_instances
	url = https://github.com/yijiangh/assembly_instances
	branch = master
