global-include CMakeLists.txt *.cmake
graft src
prune src/stiffness_checker/matlab
prune src/stiffness_checker/test

recursive-include ext/pybind11/include *.h
recursive-include ext/rapidjson/include *.h
graft ext/eigen/Eigen
prune ext/eigen/Eigen/test
prune ext/eigen/Eigen/failtest

prune docs
prune tests
prune tests/compare_compas_fea
prune tests/assembly_instances
prune tests/notebook_demo
prune src/stiffness_checker/matlab
prune src/stiffness_checker/test
prune .github

include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst
include setup_cmake_utils.py

exclude requirements-dev.txt
exclude .bumpversion.cfg
exclude .editorconfig
exclude tasks.py
exclude pytest.ini
exclude tox.ini

global-exclude *.py[cod] __pycache__ *.dylib *.nb[ic] .DS_Store
