global-include CMakeLists.txt *.cmake *.cmake.in
graft src
prune src/stiffness_checker/matlab

prune docs
prune tests
prune .github

include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst
include setup_cmake_utils.py
include requirements.txt

exclude requirements-dev.txt
exclude .bumpversion.cfg
exclude .editorconfig
exclude tasks.py
exclude tox.ini

global-exclude *.py[cod] __pycache__ *.dylib *.nb[ic] .DS_Store
