# cmake>=3.15
autopep8
bumpversion>=0.5
check-manifest>=0.36
flake8
invoke>=0.14
isort
paramiko
pylint
# https://stackoverflow.com/questions/58189683/typeerror-attrib-got-an-unexpected-keyword-argument-convert
pytest
attrs>=19.1.0
pytest-cov
python-coveralls
scp
sphinx>=1.5
sphinx_rtd_theme
twine
backports.tempfile # needed for test
-e .